div
  &.timeline-frame
    -moz-box-sizing: border-box
    box-sizing: border-box
    overflow: hidden
    position: relative
    height: 88px

  &.timeline-content
    overflow: hidden
    position: relative
    font-variant: small-caps
    cursor: default
    transition: 0.23s all

  &.timeline-axis
    -moz-box-sizing: border-box
    border-color: #888
    border-top-style: solid
    border-width: 1px
    box-sizing: border-box

  &.timeline-axis-grid
    -moz-box-sizing: border-box
    border-left-style: solid
    border-width: 1px
    box-sizing: border-box

  &.timeline-axis-grid-minor
    border-color: #999

  &.timeline-axis-grid-major
    border-color: #ccc
    border-width: 2px

  // Text for each date
  &.timeline-axis-text
    color: #fff
    padding: 3px
    white-space: nowrap

  &.timeline-axis-text-minor
    font-weight: 100

  &.timeline-axis-text-major
    font-weight: 900

  // --- events ---
  &.timeline-event
    position: relative
    -moz-box-sizing: border-box
    background-color: rgba(255,0,0,0.8)
    box-sizing: border-box
    color: #fff
    display: inline-block
    height: 88px
    text-align: center
    &.cache-range
      background-color: rgba(0,0,0,0.4)
      color: #888
      height: 30px
      border: none

  &.timeline-event-selected
    border-color: #ff22c0
    z-index: 999
    outline: none
    &.time-range
      background-color: rgba(255,80,255,0.1)
      border-top: none
      border-bottom: none

  /* TODO: use another color or pattern? */
  .timeline-event-cluster
    background: url('img/cluster_bg.png') #97b0f8
    color: #ffffff

  .timeline-event-cluster .timeline-event-dot
    border-color: #d5ddf6

  .timeline-event-box
    -moz-border-radius: 5px /* For Firefox 3.6 and older */
    border-radius: 5px
    border-style: solid
    border-width: 1px
    text-align: center

  &.timeline-event-dot
    -moz-border-radius: 5px /* For Firefox 3.6 and older */
    border-radius: 5px
    border-style: solid
    border-width: 5px

  &.timeline-event-range
    -moz-border-radius: 2px /* For Firefox 3.6 and older */
    border-radius: 2px
    border-style: solid
    border-width: 1px

  &.timeline-event-range-drag-left
    cursor: w-resize
    z-index: 1000

  &.timeline-event-range-drag-right
    cursor: e-resize
    z-index: 1000

  &.timeline-event-line
    -moz-box-sizing: border-box
    border-left-style: solid
    border-left-width: 1px
    box-sizing: border-box

  &.timeline-event-content
    margin: 5px
    overflow: hidden
    white-space: nowrap

  &.timeline-groups-axis
    -moz-box-sizing: border-box
    border-color: #bebebe
    border-width: 1px
    box-sizing: border-box

  &.timeline-groups-axis-onleft
    border-style: none solid none none

  &.timeline-groups-axis-onright
    border-style: none none none solid

  &.timeline-groups-text
    color: #fff
    padding-left: 10px
    padding-right: 10px

  &.timeline-currenttime
    -moz-box-sizing: border-box
    background-color: #f7f
    box-sizing: border-box
    width: 2px

  &.timeline-customtime
    -moz-box-sizing: border-box
    background-color: #6e94ff
    box-sizing: border-box
    cursor: move
    width: 2px

  &.timeline-navigation
    -moz-border-radius: 2px /* For Firefox 3.6 and older */
    -moz-box-sizing: border-box
    background-color: #f5f5f5
    border: 1px solid #bebebe
    border-radius: 2px
    box-sizing: border-box
    color: #808080
    font-family: arial
    font-size: 20px
    font-weight: bold

  &.timeline-navigation-new,
  &.timeline-navigation-delete,
  &.timeline-navigation-zoom-in,
  &.timeline-navigation-zoom-out,
  &.timeline-navigation-move-left,
  &.timeline-navigation-move-right
    -moz-box-sizing: border-box
    box-sizing: border-box
    cursor: pointer
    float: left
    height: 36px
    padding: 10px
    text-decoration: none
    width: 36px

  &.timeline-navigation-new
    background: url('img/16/new.png') no-repeat center

  /* separator between new and navigation buttons */
  &.timeline-navigation-new-line
    border-right: 1px solid #bebebe

  &.timeline-navigation-delete
    // background: url('img/16/delete.png') no-repeat center

  &.timeline-navigation-zoom-in
    background: url('img/16/zoomin.png') no-repeat center

  &.timeline-navigation-zoom-out
    background: url('img/16/zoomout.png') no-repeat center

  &.timeline-navigation-move-left
    background: url('img/16/moveleft.png') no-repeat center

  &.timeline-navigation-move-right
    background: url('img/16/moveright.png') no-repeat center

